form {
width: 280px;
}

.form-row {
display: flex;
align-items: center;
margin-bottom: 10px;
}

.form-row label {
width: 70px;
text-align: right;
font-weight: bold;
margin-right: 10px;
}

.form-row input {
width: 200px;
padding: 4px;
}

.form-row button {
margin-left: auto;
}

#option-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.detail-row {
    display: none;
    background-color: #f9f9f9;
}
.detail-content {
    padding: 10px;
}

.option-group {
    padding-bottom: 10px;
}