<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>위시리스트 페이지</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/css/wishlist.css" type="text/css">
</head>
<body>
<div class="page-header">
  <h1 class="page-title">상품 <b>주문</b></h1>
</div>

<table class="product-table">
  <thead>
  <tr>
    <th>아이디</th>
    <th>상품명</th>
    <th>가격</th>
    <th>이미지 URL</th>
    <th>위시리스트 등록</th>
  </tr>
  </thead>

  <tbody th:if="${productList == null or productList.isEmpty()}">
  <tr>
    <td colspan="5">등록된 상품이 없습니다.</td>
  </tr>
  </tbody>

  <tbody th:if="${productList != null and !productList.isEmpty()}">
  <tr th:each="product : ${productList}">
    <td th:text="${product.id}"></td>
    <td th:text="${product.name}"></td>
    <td th:text="${product.price}"></td>
    <td>
      <a th:href="${product.imageUrl}" target="_blank" th:text="${product.imageUrl}"></a>
    </td>
    <td>
      <form th:action="@{/view/wishes/{productId}(productId=${product.id})}" method="post">
        <button type="submit" class="wish-button">상품 주문하기</button>
      </form>
    </td>
  </tr>
  </tbody>
</table>

</body>
</html>